<div class="col-sm-12 notifications-container">
    <div class="notifications-container__connectivity">
        <span class="connectivity__dots">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
        </span>
        <span class="connectivity__text">Sketch</span>
        <span class="connectivity__wifi">
            <i class="fas fa-wifi"></i>
        </span>
    </div>
    <div class="notifications-container__time">
        <span class="time__text">9:41 AM</span>
    </div>
    <div class="notifications-container__charge">
        <span class="charge__text">100%</span>
    </div>
</div>